body {
    padding: 0;
    height: 100%;
    margin: 0;
    width: 100%;
    background-color: rgb(187, 181, 211);
    font-family: 'Oswald', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
}

.slider-container{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column; 
}

.value-container{
    margin-bottom: 25px;
}

#demo{
    color: rgb(143, 134, 180);
    font-size: 150px;
    font-family: 'Oswald', sans-serif;
}

.slider{
    width: 60%;
    background: linear-gradient(to right, #6b8dff 0%, #ff2a5f 0%, #fff 0%, #fff 100%);
    height: 20px;
    transition: background 450ms ease-in;
    -webkit-appearance: none;
    border-radius: 25px;
    box-shadow: 2px 8px 13px -3px rgba(116, 114, 144, 0.75);
    -webkit-box-shadow: 2px 8px 13px -3px rgba(116, 114, 144, 0.75);
    -moz-box-shadow: 2px 8px 13px -3px rgba(116, 114, 144, 0.75);
}

.slider::-webkit-slider-thumb{
    cursor:pointer;
    appearance: none;
    height: 35px;
    width: 35px;
    background-color: #ff2a5f;
    border-radius: 50%;
    border: 7px solid rgb(255, 255, 255);
    box-shadow: 2px 8px 13px -3px rgba(116, 114, 144, 0.75);
    -webkit-box-shadow: 2px 8px 13px -3px rgba(116, 114, 144, 0.75);
    -moz-box-shadow: 2px 8px 13px -3px rgba(116, 114, 144, 0.75);
}


